* {
  margin: 0%;
  padding: 0%;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-family: "Leto", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #7777;
  padding: 3rem;
  box-sizing: border-box; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 1rem; } }

@keyframes moveInLeft {
  0% {
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    transform: translateY(3rem); }
  100% {
    transform: translateY(0); } }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Leto", sans-serif;
  padding: 1.3rem 4rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  border-radius: 10rem;
  transition: all 0.3s ease-in-out;
  position: relative; }

.btn-white {
  background-color: #ffff;
  color: rgba(0, 0, 0, 0.467);
  animation: moveInBottom 0.3s ease-in 0.2s;
  animation-fill-mode: backwards; }

.btn:active {
  color: rgba(0, 0, 0, 0.467);
  transform: translateY(-1px);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0px 10px 20px rgba(35, 34, 34, 0.3); }

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-color: #ffff;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -10;
  border-radius: 10rem;
  transition: all 0.4s; }

.btn:hover::after {
  transform: scale(1.4);
  opacity: 0; }

.btn-text {
  color: #28b485;
  font-weight: 500;
  font-size: 1.8rem;
  border-bottom: 2px solid #28b485;
  text-decoration: none;
  padding: 5px;
  transition: all 0.3s; }
  .btn-text:hover {
    background-color: #28b485;
    color: #ffff;
    box-shadow: 0px 5px 10px gray; }

.card__btn {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: gray;
  cursor: pointer;
  text-decoration: none; }

.btn-green {
  display: block;
  margin: 0% auto;
  text-align: center;
  background-color: #28b485;
  color: white; }

.book__btn {
  width: 20rem;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-top: 2rem;
  cursor: pointer; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.707), rgba(85, 197, 122, 0.799)), url("../img/hero.jpg");
  background-position: top;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%); } }
  .header__logo-wrapper {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 35px; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.section-stories {
  padding: 2rem;
  position: relative; }

.feature__section {
  height: 90vh;
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.707), rgba(85, 197, 122, 0.799)), url("../../img/nat-4.jpg");
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem; }
  .feature__section > * {
    transform: skewY(7deg); }
  @media only screen and (max-width: 56.25em) {
    .feature__section {
      padding: 10rem 0;
      height: 150vh; } }

.heading-primary {
  color: #ffff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .heading-primary-main {
    display: block;
    font-size: 7rem;
    font-weight: 400;
    letter-spacing: 3rem;
    animation: moveInLeft 1s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-main {
        letter-spacing: 1.5rem;
        font-size: 5rem; } }
  .heading-primary-sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.7rem;
    animation: moveInRight 1s ease-in-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary-sub {
        letter-spacing: 1rem;
        font-weight: 300; } }

.secondory-heading {
  margin: 5rem 0rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, #55c57a, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out; }
  .secondory-heading:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    cursor: pointer; }

.about-section {
  background-color: #f7f7f7;
  color: gray;
  height: 90vh; }
  @media only screen and (max-width: 56.25em) {
    .about-section {
      height: 105vh; } }
  @media only screen and (max-width: 37.5em) {
    .about-section {
      height: 120vh; } }

.tertiory-heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem; }

.para {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 3rem; }

.text-center {
  text-align: center; }

.mar-bot {
  margin-bottom: 3rem; }

.mar-left {
  margin-left: 5rem; }

.composition {
  position: relative; }
  .composition__photo {
    width: 50%;
    border-radius: 2px;
    box-shadow: 0 1.4rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: transform 0.3s;
    outline-offset: 1rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__photo {
        float: left;
        position: relative;
        width: 33.33333333%; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0%; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p1 {
          top: 0;
          transform: scale(1.2); } }
    .composition__photo--p2 {
      top: 2rem;
      right: 10%; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -1rem;
          transform: scale(1.3);
          z-index: 100; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media only screen and (max-width: 56.25em) {
        .composition__photo--p3 {
          top: 1rem;
          left: -10%;
          transform: scale(1.1); } }
    .composition__photo:hover {
      z-index: 20;
      transform: scale(1.08);
      cursor: pointer;
      outline: 1rem solid #28b485;
      border-radius: 0; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }

.row {
  max-width: 90%;
  margin: 0 auto;
  height: auto;
  clear: both;
  margin-bottom: 3rem; }
  .row:not(:last-child) {
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 5rem; } }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 60rem !important;
      padding: 0% 3rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important;
        margin-right: 0%; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
    @media only screen and (max-width: 56.25em) {
      .row .col-1-of-3 {
        margin-left: 10%; } }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.feature__section {
  color: #504a4a; }
  .feature__section .feature-box {
    height: auto;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2.5rem;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s;
    box-shadow: 0 1.2rem 3rem rgba(69, 68, 68, 0.5); }
    .feature__section .feature-box .first-icon {
      font-size: 7rem;
      background-image: linear-gradient(to right, #55c57a, #28b485);
      display: inline-block;
      -webkit-background-clip: text;
      color: transparent; }
    .feature__section .feature-box:hover {
      transform: translateY(-2rem);
      cursor: pointer; }
  @media only screen and (max-width: 37.5em) {
    .feature__section {
      height: 160vh; } }

.cards {
  perspective: 150rem;
  clear: both; }
  .cards .card {
    height: 50rem;
    backface-visibility: hidden;
    margin-bottom: 10rem;
    position: relative;
    perspective: 150rem; }
    .cards .card__side {
      width: 80%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0%;
      backface-visibility: hidden;
      overflow: hidden;
      transition: all 0.8s ease-in-out;
      box-shadow: 0 1.4rem 3rem rgba(111, 106, 106, 0.774);
      border-radius: 5px; }
      @media only screen and (max-width: 75em) {
        .cards .card__side {
          width: 100%; } }
      @media only screen and (max-width: 56.25em) {
        .cards .card__side {
          width: 80%; } }
    .cards .card .back-gradient-1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
    .cards .card .back-gradient-2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
    .cards .card .back-gradient-3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
    .cards .card .f-side {
      background-color: white;
      z-index: 5000; }
    .cards .card .b-side {
      transform: rotateY(180deg); }
    .cards .card:hover .f-side {
      transform: rotateY(-180deg); }
    .cards .card:hover .b-side {
      transform: rotateY(0); }
    .cards .card__picture {
      background-size: cover;
      height: 23rem;
      background-blend-mode: screen;
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
      .cards .card__picture--1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url("../../img/nat-5.jpg"); }
      .cards .card__picture--2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url("../../img/nat-6.jpg"); }
      .cards .card__picture--3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url("../../img/nat-7.jpg"); }
    .cards .card__heading {
      color: white;
      text-transform: uppercase;
      font-size: 3rem;
      position: absolute;
      top: 20%;
      right: 2.7rem;
      padding: 1rem 2rem;
      text-align: right;
      width: 80%; }
      @media only screen and (max-width: 75em) {
        .cards .card__heading {
          font-size: 2rem; } }
      .cards .card__heading--span {
        padding: 1.5rem 1rem;
        width: 100%; }
        .cards .card__heading--span--1 {
          background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85));
          font-weight: 100; }
        .cards .card__heading--span--2 {
          background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.85), rgba(40, 180, 133, 0.85));
          font-weight: 100; }
        .cards .card__heading--span--3 {
          background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.85), rgba(86, 67, 250, 0.85));
          font-weight: 100; }
    .cards .card__list {
      width: 80%;
      margin: 0% auto;
      text-align: center;
      list-style: none; }
      .cards .card__list li {
        font-size: 1.6rem;
        color: gray;
        padding: 1rem; }
    .cards .card__cta {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white; }
    .cards .card__content {
      margin-bottom: 8rem; }
    .cards .card__only > p {
      font-size: 2rem;
      font-weight: 100; }
    .cards .card__price > p {
      font-size: 7rem;
      font-weight: 100; }
  .cards .card-section {
    margin-bottom: 10rem; }

.story__box {
  width: 75%;
  margin: 0% auto;
  padding: 6rem;
  padding-left: 9rem;
  background-color: white;
  box-shadow: 0rem 3rem 6rem rgba(0, 0, 0, 0.2);
  color: gray;
  transform: skewX(-12deg);
  margin-bottom: 7rem; }
  @media only screen and (max-width: 56.25em) {
    .story__box {
      width: 100%;
      transform: skewX(0deg); } }
  .story__box .shape__box {
    width: 16rem;
    height: 16rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg); }
    @media only screen and (max-width: 56.25em) {
      .story__box .shape__box {
        transform: translateX(-2rem) skewX(0deg); } }
    @media only screen and (max-width: 37.5em) {
      .story__box .shape__box {
        float: none;
        text-align: center; } }
  .story__box .story__text {
    transform: skewX(12deg);
    margin-top: 2rem; }
    @media only screen and (max-width: 56.25em) {
      .story__box .story__text {
        transform: skewX(0deg); } }
  .story__box .story__img {
    height: 100%;
    transform: scale(1.4);
    transition: all 0.3s ease-in-out; }
  .story__box .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, 20%);
    text-align: center;
    font-size: 1.8rem;
    letter-spacing: 1px;
    opacity: 0;
    transition: all 0.5s ease-in-out; }
  .story__box:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story__box:hover .story__img {
    filter: blur(3px) brightness(70%);
    transform: scale(1); }

.bg_video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
  opacity: 0.2;
  overflow: hidden; }
  .bg_video .video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.section-book {
  width: 100%;
  padding: 15rem 0rem;
  background-image: linear-gradient(to right, #28b485, #7ed56f); }
  .section-book .book {
    width: 100%;
    background-image: linear-gradient(105deg, rgba(245, 240, 240, 0.8) 50%, transparent 50%), url("../../img/nat-10.jpg");
    background-size: cover;
    box-shadow: 0 2rem 9rem rgba(0, 0, 0, 0.4);
    border-radius: 3px;
    padding: 5rem; }
    @media only screen and (max-width: 75em) {
      .section-book .book {
        background-image: linear-gradient(105deg, rgba(245, 240, 240, 0.8) 70%, transparent 30%), url("../../img/nat-10.jpg");
        background-size: cover; } }
    @media only screen and (max-width: 56.25em) {
      .section-book .book {
        background-image: linear-gradient(105deg, rgba(245, 240, 240, 0.8) 100%, transparent 0%), url("../../img/nat-10.jpg");
        background-size: cover; } }
    .section-book .book_heading {
      margin: 2rem 0rem;
      color: #28b485; }
    .section-book .book__form {
      width: 50%; }
      @media only screen and (max-width: 75em) {
        .section-book .book__form {
          width: 70%; } }
      @media only screen and (max-width: 56.25em) {
        .section-book .book__form {
          width: 100%; } }

.form__group {
  margin-bottom: 2rem; }
  .form__group > input {
    font-family: inherit;
    font-weight: 700;
    display: block;
    width: 90%;
    padding: 1.5rem 2rem;
    border: none;
    border-radius: 3px;
    border-bottom: 3px solid transparent;
    transition: all 0.3s; }
    .form__group > input::placeholder {
      color: gray; }
    .form__group > input:focus {
      outline: none;
      border-bottom: 3px solid #28b485;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .form__group > input:focus:invalid {
      border-bottom: 3px solid #ff7730; }
    .form__group > input:placeholder-shown + label {
      opacity: 0;
      visibility: hidden; }
  .form__group > label {
    margin-top: 0.5rem;
    margin-left: 2rem;
    font-size: 1.5rem;
    color: #676363;
    font-weight: 700;
    transition: all 0.3s;
    display: block; }

.radio__group {
  transform: translateX(-7rem); }
  @media only screen and (max-width: 56.25em) {
    .radio__group {
      transform: translateX(-3rem); } }
  .radio__group--button {
    width: 49%;
    display: inline-flex;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .radio__group--button {
        width: 100%;
        justify-content: flex-start; } }
    .radio__group--button > label {
      font-size: 1.8rem;
      color: #4d4b4b;
      letter-spacing: 1px;
      cursor: pointer; }
    .radio__group--button > input {
      visibility: hidden; }
    .radio__group--button > input:checked + .circle::after {
      visibility: visible; }
  .radio__group .circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 3px solid #28b485;
    position: relative;
    display: inline-block;
    margin-right: 0.8rem; }
  .radio__group .circle::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #28b485;
    visibility: hidden; }

.footer {
  width: 100%;
  background-color: #2f2b2b;
  padding: 10rem 0rem; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      height: auto;
      padding-bottom: 20rem; } }
  .footer_box {
    padding: 15rem 0rem;
    width: 100%;
    text-align: center; }
    .footer_box--logo {
      width: 100%;
      text-align: center;
      margin-bottom: 2rem; }
  .footer__logo {
    width: 15%;
    text-align: center; }
  .footer .list {
    border-top: 2px solid gray; }
    .footer .list li {
      display: inline-block;
      list-style: none;
      margin-right: 2rem;
      padding-top: 2rem; }
    .footer .list__item {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      font-size: 1.6rem;
      padding: 1rem; }
      .footer .list__item:hover {
        background-color: #211f1f;
        border-radius: 3px; }
  .footer__para {
    padding-top: 2rem;
    color: white;
    letter-spacing: 1px;
    border-top: 2px solid gray; }
    @media only screen and (max-width: 56.25em) {
      .footer__para {
        width: 100%; } }

.navigation__checkbox {
  display: none; }

.navigation__background {
  width: 6rem;
  height: 6rem;
  background-image: radial-gradient(#28b485, #7ed56f);
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  transform: scale(0);
  z-index: 1000;
  color: black;
  transition: all 0.5s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__btn {
  width: 7rem;
  height: 7rem;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  text-align: center;
  cursor: pointer; }

.navigation .list {
  width: 0%;
  height: 100vh;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1500;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }
  .navigation__item li {
    width: 100%;
    list-style: none;
    margin: 2rem; }
  .navigation__item-list {
    width: 100%;
    font-size: 3rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
    padding: 1rem 2rem;
    background-size: 220%;
    transition: all 0.4s; }
    @media only screen and (max-width: 37.5em) {
      .navigation__item-list {
        font-size: 2rem; } }
    .navigation__item-list:hover {
      background-position: 100%;
      color: #28b485; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(70); }

.navigation__checkbox:checked ~ .list {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3rem; }
  .navigation__icon, .navigation__icon::after, .navigation__icon::before {
    width: 3rem;
    height: 3px;
    background-color: gray;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.2s; }
  .navigation__icon::before {
    top: -0.8rem; }
  .navigation__icon::after {
    top: 0.8rem; }

.navigation__checkbox:checked + .navigation__btn > .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__btn .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked ~ .navigation__btn .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(26, 25, 25, 0.907);
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 9000;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s linear; }
  .popup:target {
    visibility: visible;
    opacity: 1; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 75%;
    background-color: #f8f2f2;
    margin: 0% auto;
    border-radius: 3px;
    overflow: hidden;
    transition: all 0.3s; }
    .popup__content-left {
      float: left;
      width: 33.333333%;
      display: table-cell; }
      @media only screen and (max-width: 75em) {
        .popup__content-left {
          display: none; } }
      @media only screen and (max-width: 56.25em) {
        .popup__content-left {
          width: 100%; } }
    .popup__content-right {
      width: 66.6666667%;
      display: table-cell;
      vertical-align: middle;
      padding: 3rem 5rem; }
      .popup__content-right-text {
        column-count: 2;
        column-gap: 4rem; }
      @media only screen and (max-width: 75em) {
        .popup__content-right {
          width: 100%; } }
  .popup__img {
    width: 100%;
    margin: 0%;
    display: block; }
  .popup:target .popup__content {
    transform: translate(-50%, -50%) scale(1); }

.close__btn {
  position: absolute;
  top: 4rem;
  right: 4rem;
  text-decoration: none;
  color: gray; }
