.secondory-heading {
  margin: 5rem 0rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  background-image: linear-gradient(to right, $mediumGreen, $darkGreen);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 1px;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: skewY(2deg) skewX(10deg) scale(1.1);
    cursor: pointer;
  }
}
.about-section {
  background-color: $greyLight;
  color: gray;
  height: 90vh;
  @include respond(tab) {
    height: 105vh;
  }
  @include respond(phone) {
    height: 120vh;
  }
}
.tertiory-heading {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.para {
  font-size: 1.6rem;
  letter-spacing: 1px;
  margin-bottom: 3rem;
}
