.btn {
  &:link,
  &:visited {
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Leto", sans-serif;
    padding: 1.3rem 4rem;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 10rem;
    transition: all 0.3s ease-in-out;
    position: relative;
  }
  &-white {
    background-color: $white;
    color: rgba($black, 0.467);
    animation: moveInBottom 0.3s ease-in 0.2s;
    animation-fill-mode: backwards;
  }
  &:active {
    color: rgba($black, 0.467);
    transform: translateY(-1px);
    box-shadow: 0px 5px 10px rgba($black, 0.2);
  }
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0px 10px 20px rgba(35, 34, 34, 0.3);
  }

  &::after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    background-color: $white;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: -10;
    border-radius: 10rem;
    transition: all 0.4s;
  }
  &:hover::after {
    transform: scale(1.4);
    opacity: 0;
  }
}
.btn-text {
  color: $darkGreen;
  font-weight: 500;
  font-size: 1.8rem;
  border-bottom: 2px solid $darkGreen;
  text-decoration: none;
  padding: 5px;

  transition: all 0.3s;
  &:hover {
    background-color: $darkGreen;
    color: $white;
    box-shadow: 0px 5px 10px gray;
  }
}

.card__btn {
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 2rem;
  color: gray;
  cursor: pointer;
  text-decoration: none;
  
}
.btn-green {
  display: block;
  margin: 0% auto;
  text-align: center;
  background-color: $darkGreen;
  color: white;
}
.book__btn {
  width: 20rem;

  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-top: 2rem;
  cursor: pointer;
}
