$lightGreen: #7ed56f;
$mediumGreen: #55c57a;
$darkGreen: #28b485;
$grayLight: #7777;
$black: #000000;
$white: #ffff;
$max-width: 90rem;
$greyLight: #f7f7f7;
$gutter-vertical: 5rem;
$gutter-horizontal: 6rem;
$color-secondary-1: #ffb900;
$color-secondary-2: #ff7730;

$color-tertiory-1: #2998ff;
$color-tertiory-2: #5643fa;
